@model List<CarDatingSite.Models.Blog>


@Html.ActionLink("Pievienot jaunu ierakstu", "AddPost", "Blogs")


<!-- kad vēlamies izsaukt c# kodu, lietojam at simbolu -->

@foreach (var blog in Model)
{
    @Html.ActionLink("Rediģēt ierakstu", "EditPost", "Blogs", new { editableBlogId = blog.BlogId }, null)
    <div class="row">
        <div class="col-md-4">
            @Html.ActionLink("Nodzēst ierakstu", "DeletePost", "Blogs", new { deletableBlogId = blog.BlogId }, null)
            <h2>E-pasts : @blog.BlogEmail</h2>
            <p> Name : @blog.BlogName</p>
            <p> Title : @blog.BlogTitle</p>
            <p>Blog message :@blog.BlogText</p>
            <img width="400" height="400" src="@blog.BlogImage" />
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
    </div>

}

