@model List<CarDatingSite.Models.Blog>

<div class="container">
    <div class="row">
        @Html.ActionLink("Pievienot jaunu ierakstu", "AddBlog", "Blogs", htmlAttributes: new { @class = "btn btn-info", role = "button" })
    </div>
</div>


<!-- kad vēlamies izsaukt C# kodu, lietojam at simbolu -->
@foreach (var blog in Model)
{
    <div class="row">
        <div class="col-md-12">

            <h2>Cat name: @blog.BlogName</h2>
            <p> E-pasts:  @blog.BlogEmail</p>
            <p> Title : @blog.BlogTitle</p>
            <p>Blog message :@blog.BlogText</p>
            <img class="img-responsive" @blog.BlogImage"/>
            <p>
                @Html.ActionLink("Rediģēt ierakstu", "EditBlog", "Blogs", new { editableBlogId = blog.BlogId }, htmlAttributes: new { @class = "btn btn-info", role = "button" })
                @Html.ActionLink("Nodzēst ierakstu", "DeleteBlog", "Blogs", new { deletableBlogId = blog.BlogId }, htmlAttributes: new { @class = "btn btn-info", role = "button" })
            </p>
        </div>
    </div>
}